body {
    font-family: 'Baloo Tammudu 2', cursive;
    background-color: #F4F4F4;
    
  }
  
  .sidenav {
    height: 100%;
    width: 275px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #3366cc 0%, #00ccff 100%);
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidenav h3{
      padding-left: 32px;
      margin-left: 35px;
      color: rgb(255, 255, 255);
      display: block;
  }
  
  .sidenav a {
    padding: 6px 6px 6px 32px;
    margin: 35px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255,0.5);
    display: block;
  }
  .sidenav a i{
      color: rgb(255, 255, 255);
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 250px; 
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


#round{
  border-radius: 25px;
    padding: 20px; 
    width: 450px;
    height: 10px; 
    position: relative;
    background-color: #FFFF;
    box-shadow: 6px 6px 2px 2px rgb(0,0,0,0.5);
}

input.name::-webkit-input-placeholder{
    font-family: fontAwesome,'Baloo Tammudu 2', cursive;
    font-size:1.4rem;
    text-align: left;
    vertical-align: middle;
    line-height: 3;
    color:rgb(0,0,0,0.5)
  }

.cards-sk{
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 22px;
}

.card-deck{
  margin-bottom:30px;
}

.card-title{
  text-align: center;
}

.nike{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
